<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.radium.patchwatcher</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/leoschwarz/.local/bin/radium-patch-watcher</string>
  </array>
  <key>StandardOutPath</key>
  <string>/tmp/radium-patch-watcher.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/radium-patch-watcher.error.log</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
</dict>
</plist>

